# Java class files
*.class

# MacOS
*.DS_Store

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Maven
log/
target/

# Gradle
.gradle/
local.properties
*/build/

# Package Files
*.jar
*.war
*.ear

# Project files
log_test.txt
log.txt
/src/main/resources/app.local.properties
